# Data Wrangling

### Imports and Data Loading

In [1]:
#Importing libraries
import pandas as pd
import numpy as np

In [2]:
#loading data
game_data = pd.read_csv('game_info.csv')

In [3]:
#checking out initial data
game_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474417 entries, 0 to 474416
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    474417 non-null  int64
 1   slug                  474415 non-null  object
 2   name                  474415 non-null  object
 3   metacritic            4733 non-null    float64
 4   released              450218 non-null  object
 5   tba                   474417 non-null  bool
 6   updated               474417 non-null  object
 7   website               65041 non-null   object
 8   rating                474417 non-null  float64
 9   rating_top            474417 non-null  int64
 10  playtime              474417 non-null  int64
 11  achievements_count    474417 non-null  int64
 12  ratings_count         474417 non-null  int64
 13  suggestions_count     474417 non-null  int64
 14  game_series_count     474417 non-null  int64
 15  reviews_count         474417 non-null  int64
 16  platforms             470431 non-null  object
 17  developers            466051 non-null  object
 18  genres                371232 non-null  object
 19  publishers            141033 non-null  object
 20  esrb_rating           55864 non-null   object
 21  added_status_yet      474417 non-null  int64
 22  added_status_owned    474417 non-null  int64
 23  added_status_beaten   474417 non-null  int64
 24  added_status_toplay   474417 non-null  int64
 25  added_status_dropped  474417 non-null  int64
 26  added_status_playing  474417 non-null  int64
dtypes: bool(1), float64(2), int64(14), object(10)
memory usage: 94.6+ MB

In [4]:
game_data.head()

,id,slug,name,metacritic,released,tba,updated,website,rating,rating_top,...,developers,genres,publishers,esrb_rating,added_status_yet,added_status_owned,added_status_beaten,added_status_toplay,added_status_dropped,added_status_playing
0,1,dgeneration-hd,D/Generation HD,NaN,2015-10-23,False,2019-09-17T11:58:57,http://dgeneration.net,0.0,0,...,West Coast Software,Adventure||Puzzle,West Coast Software,Everyone 10+,4,88,2,2,0,0
1,10,g-prime,G Prime Into The Rain,NaN,2016-01-06,False,2019-11-06T23:04:19,NaN,0.0,0,...,Soma Games,Simulation||Indie,Immanitas Entertainment||Code-Monkeys,Everyone,2,42,2,0,0,0
2,100,land-sliders,Land Sliders,NaN,2015-09-24,False,2019-10-22T13:56:16,http://prettygreat.com,0.0,0,...,Prettygreat Pty,Adventure||Arcade,Prettygreat Pty,Everyone 10+,0,2,2,0,1,0
3,1000,pixel-gear,Pixel Gear,NaN,2016-10-20,False,2019-08-28T22:16:02,https://www.facebook.com/Geronimo-Interactive-...,0.0,0,...,Oasis Games||Geronimo Interactive,Action||Indie,Geronimo Interactive,Teen,0,1,0,0,0,0
4,10000,gods-and-idols,Gods and Idols,NaN,2016-12-12,False,2019-09-17T13:37:13,http://www.godsandidols.com/,0.0,1,...,Viking Tao,RPG||Strategy||Massively Multiplayer,Viking Tao,NaN,2,79,0,0,0,0

### Data Cleaning

In [5]:
#finding missing values
missing = pd.concat([game_data.isnull().sum(), 100 * game_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by=['count', '%'])

                       count          %
id                         0   0.000000
tba                        0   0.000000
updated                    0   0.000000
rating                     0   0.000000
rating_top                 0   0.000000
playtime                   0   0.000000
achievements_count         0   0.000000
ratings_count              0   0.000000
suggestions_count          0   0.000000
game_series_count          0   0.000000
reviews_count              0   0.000000
added_status_yet           0   0.000000
added_status_owned         0   0.000000
added_status_beaten        0   0.000000
added_status_toplay        0   0.000000
added_status_dropped       0   0.000000
added_status_playing       0   0.000000
slug                       2   0.000422
name                       2   0.000422
platforms               3986   0.840189
developers              8366   1.763428
released               24199   5.100787
genres                103185  21.749853
publishers            333384  70.272355
website               409376  86.290331
esrb_rating           418553  88.224705
metacritic            469684  99.002354

I will begin by dropping the columns that are not relevant to what I want to learn from this data. Websites are not relevant or measurable. I will also drop the slug column and id column as they are identifier values that are already taken care of by the name column.

In [6]:
game_data.drop(columns='website', inplace=True)
game_data.drop(columns='slug', inplace=True)
game_data.drop(columns='id', inplace=True)

In [7]:
game_data.columns

Index(['name', 'metacritic', 'released', 'tba', 'updated', 'rating',
       'rating_top', 'playtime', 'achievements_count', 'ratings_count',
       'suggestions_count', 'game_series_count', 'reviews_count', 'platforms',
       'developers', 'genres', 'publishers', 'esrb_rating', 'added_status_yet',
       'added_status_owned', 'added_status_beaten', 'added_status_toplay',
       'added_status_dropped', 'added_status_playing'],
      dtype='object')

Now I want to see why two of the games have no names.

In [8]:
print(game_data[game_data['name'].isna()])

      name  metacritic    released    tba              updated  rating  \
128    NaN         NaN  2018-01-09  False  2020-05-08T13:42:08     0.0
20727  NaN         NaN  2016-09-25  False  2019-08-28T23:23:49     0.0

       rating_top  playtime  achievements_count  ratings_count  ...  \
128             4         0                   0              5  ...
20727           0         0                   0              0  ...

            developers             genres  publishers esrb_rating  \
128              Jusiv  Adventure||Puzzle         NaN         NaN
20727  The Paper Pilot          Adventure         NaN         NaN

      added_status_yet added_status_owned added_status_beaten  \
128                  0                  3                   0
20727                0                  0                   0

      added_status_toplay  added_status_dropped  added_status_playing
128                     1                     0                     1
20727                   0                     0                     0

[2 rows x 24 columns]

The first game has only 3 people who own it and the second is owned by noone. I feel comfortable dropping these two rows.

In [9]:
game_data = game_data[game_data['name'].notna()]

In [10]:
game_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 474415 entries, 0 to 474416
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   name                  474415 non-null  object
 1   metacritic            4733 non-null    float64
 2   released              450216 non-null  object
 3   tba                   474415 non-null  bool
 4   updated               474415 non-null  object
 5   rating                474415 non-null  float64
 6   rating_top            474415 non-null  int64
 7   playtime              474415 non-null  int64
 8   achievements_count    474415 non-null  int64
 9   ratings_count         474415 non-null  int64
 10  suggestions_count     474415 non-null  int64
 11  game_series_count     474415 non-null  int64
 12  reviews_count         474415 non-null  int64
 13  platforms             470429 non-null  object
 14  developers            466049 non-null  object
 15  genres                371230 non-null  object
 16  publishers            141033 non-null  object
 17  esrb_rating           55864 non-null   object
 18  added_status_yet      474415 non-null  int64
 19  added_status_owned    474415 non-null  int64
 20  added_status_beaten   474415 non-null  int64
 21  added_status_toplay   474415 non-null  int64
 22  added_status_dropped  474415 non-null  int64
 23  added_status_playing  474415 non-null  int64
dtypes: bool(1), float64(2), int64(13), object(8)
memory usage: 87.3+ MB

Nearly all of the values for metacritic score, esrb rating, and publisher are missing so they will not be useful for making assumptions about the data so I will drop those as well.

In [11]:
game_data.drop(columns='metacritic', inplace=True)
game_data.drop(columns='publishers', inplace=True)
game_data.drop(columns='esrb_rating', inplace=True)

Games with TBA status 'True' have not been released yet and thus should not be included as they can't be rated or beaten by users.

In [12]:
game_data = game_data[game_data['tba'] != True]

In [13]:
#confirming tba column only shows false entries
game_data.tba.unique()

array([False])

Now that the all the unreleased games have been dropped from the dataframe I no longer need the tba column

In [14]:
game_data.drop(columns='tba', inplace=True)

There are missing release dates and I don't want to use any of the methods I know to fill the values as that could give me an incorrect view on whether release date impacts enjoyment. I could drop the rows with missing release dates, but I see that there are no missing entries for the last date the game was updated so I will use that as an indicator of the age of the game and drop the release date. I am only interested in the year so I will drop everything after the first 4 characters

In [15]:
#dropping characters after year in 'updated'
game_data['updated'] = [x[:4] for x in game_data['updated']]

In [16]:
game_data.updated.unique()

array(['2019', '2020'], dtype=object)

Seeing that there are only 2 years, this will not be very helpful for grouping by age, so I will drop the missing release dates and use that after all. Since updated is not useful, I will drop it.

In [17]:
game_data.drop(columns='updated', inplace=True)

In [18]:
#dropping rows with missing release date
game_data = game_data[game_data['released'].notna()]

In [19]:
#dropping characters after year in 'released'
game_data['released'] = [x[:4] for x in game_data['released']]

In [20]:
game_data.released.unique()

array(['2015', '2016', '2017', '2014', '2018', '2010', '2013', '2000',
       '1998', '2005', '2007', '2009', '2012', '2020', '2019', '2003',
       '2001', '2008', '2004', '2011', '1997', '2006', '1999', '1994',
       '2002', '1988', '1995', '1984', '1996', '1989', '1991', '1993',
       '1990', '1992', '2021', '1987', '1986', '1985', '1979', '2033',
       '1980', '1983', '1982', '2027', '2024', '1981', '2030', '2022',
       '1970', '2029', '1973', '1971', '1977', '1978', '1976', '1975',
       '1972', '1974', '1962'], dtype=object)

The platforms, developers, and genres categories are categories so I do not want to fill the missing values for them without knowing what they should be. If there were only a few missing values I could look up the games and fill the data myself, but there are too many missing values for that so I will have to drop them. That will still leave me with nearly 350,000 games which is a very lage sample size.

In [22]:
game_data = game_data[game_data['platforms'].notna()]
game_data = game_data[game_data['developers'].notna()]
game_data = game_data[game_data['genres'].notna()]

In [23]:
game_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345103 entries, 0 to 474416
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   name                  345103 non-null  object
 1   released              345103 non-null  object
 2   rating                345103 non-null  float64
 3   rating_top            345103 non-null  int64
 4   playtime              345103 non-null  int64
 5   achievements_count    345103 non-null  int64
 6   ratings_count         345103 non-null  int64
 7   suggestions_count     345103 non-null  int64
 8   game_series_count     345103 non-null  int64
 9   reviews_count         345103 non-null  int64
 10  platforms             345103 non-null  object
 11  developers            345103 non-null  object
 12  genres                345103 non-null  object
 13  added_status_yet      345103 non-null  int64
 14  added_status_owned    345103 non-null  int64
 15  added_status_beaten   345103 non-null  int64
 16  added_status_toplay   345103 non-null  int64
 17  added_status_dropped  345103 non-null  int64
 18  added_status_playing  345103 non-null  int64
dtypes: float64(1), int64(13), object(5)
memory usage: 52.7+ MB

Now that I have no missing values I will check to see if there are any unusual results in the remaining columns

In [24]:
game_data.describe()

,rating,rating_top,playtime,achievements_count,ratings_count,suggestions_count,game_series_count,reviews_count,added_status_yet,added_status_owned,added_status_beaten,added_status_toplay,added_status_dropped,added_status_playing
count,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000,345103.000000
mean,0.108067,0.123835,0.264083,5.871134,2.836802,99.639858,0.052373,2.862769,0.911244,15.000220,1.794505,0.542360,0.893806,0.195255
std,0.608387,0.682570,4.912234,135.861944,42.605726,120.465975,0.840334,42.972229,10.492406,149.775845,33.250693,10.385187,12.211532,4.501924
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,54.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,132.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.860000,5.000000,1473.000000,12322.000000,4289.000000,1839.000000,28.000000,4334.000000,635.000000,8298.000000,3533.000000,2325.000000,1092.000000,644.000000

In [25]:
game_data[game_data['ratings_count']==0].count()

name                    314287
released                314287
rating                  314287
rating_top              314287
playtime                314287
achievements_count      314287
ratings_count           314287
suggestions_count       314287
game_series_count       314287
reviews_count           314287
platforms               314287
developers              314287
genres                  314287
added_status_yet        314287
added_status_owned      314287
added_status_beaten     314287
added_status_toplay     314287
added_status_dropped    314287
added_status_playing    314287
dtype: int64

Nearly all of the games have no ratings so game rating will not be a useful target metric. I will drop the columns related to ratings.

In [26]:
game_data.drop(columns='rating', inplace=True)
game_data.drop(columns='rating_top', inplace=True)
game_data.drop(columns='ratings_count', inplace=True)
game_data.drop(columns='reviews_count', inplace=True)

In [27]:
game_data[game_data['playtime']==0].count()

name                    324114
released                324114
playtime                324114
achievements_count      324114
suggestions_count       324114
game_series_count       324114
platforms               324114
developers              324114
genres                  324114
added_status_yet        324114
added_status_owned      324114
added_status_beaten     324114
added_status_toplay     324114
added_status_dropped    324114
added_status_playing    324114
dtype: int64

Like ratings, nearly all the values for 'playtime' are 0. Either this is missing data or the vast majority of games take less than an hour to play. either way, this will not be useful so I will drop the column.

In [28]:
game_data.drop(columns='playtime', inplace=True)

In [29]:
game_data[game_data['achievements_count']==0].count()

name                    329188
released                329188
achievements_count      329188
suggestions_count       329188
game_series_count       329188
platforms               329188
developers              329188
genres                  329188
added_status_yet        329188
added_status_owned      329188
added_status_beaten     329188
added_status_toplay     329188
added_status_dropped    329188
added_status_playing    329188
dtype: int64

Nearly all of the games have no achievements. I could drop this column like the last few, but I think there could still be useful information here. Instead I will convert the column to a boolean value of whether or not there are achievements. I will name the new column 'has_achievements

In [30]:
#create boolean column 'has_achievements'
game_data['has_achievements'] = np.where(game_data['achievements_count']!=0, True, False)

In [31]:
#confirm 'has_achievements' is bool
game_data.dtypes

name                    object
released                object
achievements_count       int64
suggestions_count        int64
game_series_count        int64
platforms               object
developers              object
genres                  object
added_status_yet         int64
added_status_owned       int64
added_status_beaten      int64
added_status_toplay      int64
added_status_dropped     int64
added_status_playing     int64
has_achievements          bool
dtype: object

In [32]:
game_data.drop(columns='achievements_count', inplace=True)

In [33]:
game_data[game_data['game_series_count']==0].count()

name                    342678
released                342678
suggestions_count       342678
game_series_count       342678
platforms               342678
developers              342678
genres                  342678
added_status_yet        342678
added_status_owned      342678
added_status_beaten     342678
added_status_toplay     342678
added_status_dropped    342678
added_status_playing    342678
has_achievements        342678
dtype: int64

Another category that is mostly zeroes. Like achievements, I will turn this into a boolean value of whether or not the game is part of a series to see if that has an impact on enjoyment.

In [34]:
#create boolean 'in_series'
game_data['in_series'] = np.where(game_data['game_series_count']!=0, True, False)

In [35]:
#confirm 'in_series' is bool
game_data.dtypes

name                    object
released                object
suggestions_count        int64
game_series_count        int64
platforms               object
developers              object
genres                  object
added_status_yet         int64
added_status_owned       int64
added_status_beaten      int64
added_status_toplay      int64
added_status_dropped     int64
added_status_playing     int64
has_achievements          bool
in_series                 bool
dtype: object

In [36]:
game_data.drop(columns='game_series_count', inplace=True)

In [37]:
game_data[game_data['added_status_yet']==0].count()

name                    324443
released                324443
suggestions_count       324443
platforms               324443
developers              324443
genres                  324443
added_status_yet        324443
added_status_owned      324443
added_status_beaten     324443
added_status_toplay     324443
added_status_dropped    324443
added_status_playing    324443
has_achievements        324443
in_series               324443
dtype: int64

In [38]:
game_data[game_data['added_status_owned']==0].count()

name                    298585
released                298585
suggestions_count       298585
platforms               298585
developers              298585
genres                  298585
added_status_yet        298585
added_status_owned      298585
added_status_beaten     298585
added_status_toplay     298585
added_status_dropped    298585
added_status_playing    298585
has_achievements        298585
in_series               298585
dtype: int64

In [39]:
game_data[game_data['added_status_beaten']==0].count()

name                    322289
released                322289
suggestions_count       322289
platforms               322289
developers              322289
genres                  322289
added_status_yet        322289
added_status_owned      322289
added_status_beaten     322289
added_status_toplay     322289
added_status_dropped    322289
added_status_playing    322289
has_achievements        322289
in_series               322289
dtype: int64

In [40]:
game_data[game_data['added_status_toplay']==0].count()

name                    322356
released                322356
suggestions_count       322356
platforms               322356
developers              322356
genres                  322356
added_status_yet        322356
added_status_owned      322356
added_status_beaten     322356
added_status_toplay     322356
added_status_dropped    322356
added_status_playing    322356
has_achievements        322356
in_series               322356
dtype: int64

In [41]:
game_data[game_data['added_status_dropped']==0].count()

name                    324723
released                324723
suggestions_count       324723
platforms               324723
developers              324723
genres                  324723
added_status_yet        324723
added_status_owned      324723
added_status_beaten     324723
added_status_toplay     324723
added_status_dropped    324723
added_status_playing    324723
has_achievements        324723
in_series               324723
dtype: int64

In [42]:
game_data[game_data['added_status_playing']==0].count()

name                    336831
released                336831
suggestions_count       336831
platforms               336831
developers              336831
genres                  336831
added_status_yet        336831
added_status_owned      336831
added_status_beaten     336831
added_status_toplay     336831
added_status_dropped    336831
added_status_playing    336831
has_achievements        336831
in_series               336831
dtype: int64

All of the added_status columns are mostly zeroes. I will need to drop them as they will not be useful target metrics

In [43]:
game_data.drop(columns='added_status_yet', inplace=True)
game_data.drop(columns='added_status_owned', inplace=True)
game_data.drop(columns='added_status_beaten', inplace=True)
game_data.drop(columns='added_status_toplay', inplace=True)
game_data.drop(columns='added_status_dropped', inplace=True)
game_data.drop(columns='added_status_playing', inplace=True)

In [44]:
game_data.head()

,name,released,suggestions_count,platforms,developers,genres,has_achievements,in_series
0,D/Generation HD,2015,292,PC||macOS||Xbox One||PlayStation 4||Nintendo S...,West Coast Software,Adventure||Puzzle,True,False
1,G Prime Into The Rain,2016,389,macOS||PC||Xbox One,Soma Games,Simulation||Indie,True,False
2,Land Sliders,2015,83,iOS,Prettygreat Pty,Adventure||Arcade,False,False
3,Pixel Gear,2016,455,PC||PlayStation 4,Oasis Games||Geronimo Interactive,Action||Indie,False,False
4,Gods and Idols,2016,262,PC,Viking Tao,RPG||Strategy||Massively Multiplayer,False,False

I now have a mostly workable dataframe. I have had to get rid of most of the columns I would have used as target metrics due to lack of data so my target metric for player enjoyment will be 'suggestions_count', the number of RAWG users who recommended the game. 

I might run into issues with the platforms and genres columns having multiple categories in the same row for games that are available on multiple platforms or are multi-genre games. I will need to discuss this with my mentor to decide the best course of action for this.